#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 0 !important;
}

#header {
    height: 77px;
}
#content {
    top: 77px !important;
}
#archive-scroll {
    /* Make up for header height */
    top: 129px !important;
    background: #303030;
}

.listitem {
    margin-right: 3px !important;
}

.iScrollVerticalScrollbar {
	position: absolute;
	z-index: 9999;
	width: 3px;
	bottom: 1px;
	top: 1px;
	right: 1px;
	/*overflow: hidden;*/
}

.iScrollIndicator {
	position: absolute;
	background: #555555;
	border-width: 0;
}

.iScrollVerticalScrollbar .iScrollIndicator {
	width: 100%;
	background: #555555;
}


/*.wrapper, .wrapper div.iscroll-scroller {
    width: 100% !important;
}*/

/*.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:0em;
}*/

/*#alertList {
    padding-top : 30px;
}
#alertList form {
    position :fixed;
    top      : 80px;
    left     : 10px;
    width    : calc(100% - 20px);
    z-index  : 4;
}*/

/*#alertListFilterInput {
    position :fixed;
    top      : 80px;
    left     : 10px;
    width    : calc(100% - 19px);
    z-index  : 1;
}*/
